/* GENERIC STYLES */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;

  color: #2d2f3b;
}

p {
  line-height: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

/* STYLES */

.App {
  font-family: sans-serif;
  text-align: center;
}

nav {
  background: cornflowerblue;
  color: white;
  padding: 5px 20px;
  box-shadow: 0px 1px 2px gray;
  display: flex;
  align-items: center;
}

nav p {
  color: white;
  margin-left: 0px;
  font-size: 20px;
}

h2 {
  font-size: 22px;
  letter-spacing: 1px;
  margin: 50px 0px 20px 0px;
}

.btn {
  background: deepskyblue;
  border: 0;
  padding: 10px 30px;
  margin: 10px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 800;
  width: 200px;
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn.small {
  background: aquamarine;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 3px;
  font-size: 12px;
  width: auto;
}

.FlightCard {
  background-color: aliceblue;
  border: 1px solid rgb(167, 160, 160);
  border-radius: 5px;
  margin: 20px;
}
